# executables
*.exe
*.dll
*.so
*.dylib

# Dependency directories (remove the comment below to include it)
# vendor/

# distributive files
/dist/

# data and user files
data.db
data.db-journal
.settings.yml
.settings.*.yml

# temporary files
*.*~

# agents
.hermes/plans/*
