# executables
*.exe
*.dll
*.so
*.dylib

# Dependency directories (remove the comment below to include it)
# vendor/

# distributive files
/dist/

# data files
data.db
data.db-journal

# temporary files
*.*~

.settings.yml
.settings.*.yml
