{{template "inc/base.html" .}}

{{define "title"}}Home{{end}}

{{define "content"}}
<div>
  <div class="row row-cols-md-2 g-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="far fa-vial"></i> Experiment
        </div>
        <div class="card-body">
          Some content.
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="far fa-list-check"></i> Active checklists
        </div>
        <div class="card-body">
          Some content.
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="far fa-user-check"></i> My issues
        </div>
        <div class="card-body">
          Some content.
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="far fa-chart-simple"></i> Statistics
        </div>
        <div class="card-body">
          Some content.
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="far fa-cog"></i> System management
        </div>
        <div class="card-body">
          <div><i class="far fa-list-check"></i> <a href="/admin/checklists">Checklists</a> (administration)</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
