<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{.App.AppName}}</title>
    <link rel="icon" href="/favicon.ico" />
    <link href="/assets/vendor/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/vendor/fontawesome.min.css" rel="stylesheet" />
    <link href="/assets/vendor/regular.min.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div>{{.App.AppName}}</div>

    <script src="/assets/vendor/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/vue.global.prod.js"></script>

    <script src="/assets/script.min.js"></script>
  </body>
</html>
