{{template "inc/base.html" .}}

{{define "title"}}Sign In{{end}}

{{define "content"}}
  <div>
    <h1>Sign In</h1>
    <form class="" method="post" action="/login">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="username" name="username" placeholder="User name">
        <label for="username">User name</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        <label for="password">Password</label>
      </div>

      <div class="mt-3">
        <button type="submit" class="btn btn-success"><i class="far fa-arrow-right-to-bracket"></i> Sign In</button>
      </div>
    </form>
  </div>
{{end}}
